body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.keyboard, .left, .menu, .numbers, .operators{
    display: flex;
}
.left{
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 578px;
    background-color: black;
    border-radius: 35px;
    border-style: solid;
    border: 2px solid rgb(229, 229, 229);
    box-shadow: 5px 10px 10px #888888;
 
}
.time{
    color: whitesmoke;
    font-family:sans-serif;
    font-size: small;
}
.screen{
    height: 220px;
}
.notch{
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
    align-items: center;
}
img{
width: 80px;
}
button{
width: 50px;
height: 50px;
border-radius: 50%;
border: none;

}
.numbers{
    flex-wrap: wrap;
    gap: 10px 14px;
    padding-left: 20px;
    
}
.styleNumber{
background-color: #333333;
color: white;
font-size: 20px;
font-weight: lighter;

}
.styleNumber:hover{

    background-color: #888888;
}
.operators{
flex-direction: column;
padding-right: 20px;
gap: 10px;
align-content: center;


}
.styleOperator{
 background-color: #fa9802;
 color: white;
 font-size: 30px;
 font-family: monospace;
}
.styleOperator:hover{

    background-color: white;
    color: #fa9802;
}
.menu{
padding-left: 20px;
padding-bottom: 10px;
gap: 10px 14px;
}
.styleMenu{
    background-color: #c8c8c8;
    font-size: 20px;
}
.styleMenu:hover{
    background-color: white;
}
#style0{
    width: 114px;
    border-radius: 50px;
    text-align: left;
    padding-left:20px;
}
#backspace{
transform: rotate(180deg);
}
.footer{
   
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.navBar{
    width: 90px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#333333;
    color:white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;    
}